#apple{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  
  }

  #b{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #c{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #d{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  display:block;

  }

  #d{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #e{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #f{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #g{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;

  }

  #h{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #i{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  #j{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  
  }

  button:active{
  box-shadow:3px 3px 10px black;
  
  }

  #container{
  display:grid;
  column-gaps:2px;
  grid-template-rows:repeat(3,1fr)
  }

  #plus{
  height:30px;
  width:30px;
  display:flex;
  align-items:top-right;
  }

  #minus{
  height:30px;
  width:30px;
  display:flex;
  align-items:top-right;
  }

  #multiply{
    height:30px;
    width:30px;
    display:flex;
    align-items:top-right;
  }

  #divide{
   height:30px;
  width:30px;
  display:flex;
  align-items:top-right;
  }

  #ans{
  height:30px;
  width:30px;
  display:flex;
  align-items:top-right;
  }










