#apple{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #b{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #c{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #d{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk:
  }

  #d{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #e{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #f{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #g{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }

  #h{
  height:5px;
  width:5px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  }
    
  h2 {
  align-items:center;
  color:corn-silk;
  
}
