  #btn{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  }

  button:active{
  box-shadow:3px 3px 10px black;
  
  }

  #container{
  display:grid;
  column-gaps:2px;
  grid-template-columns:repeat(3,60px);
  grid-gap:0;
  row-gaps:15px;
  
  }

  #operators{
  display:relative;
  left:120px;
  top:-40px;
  height:30px;
  width:25px;
  }
  
  #display{
    border:solid-black;
    height:30px;
    margin-bottom:5px;
    border-width:3px;
    border-radius:4px;
  }

 #plus{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:123px;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
 }

 #minus{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:156px;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
 }

 #mul{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:189px;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
 }

#divide{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:222px;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
 }

#ans{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:255px;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
   background-color:rgba(152,251,152,0.75)
 }

#clear{
   position:absolute;
   height:30px;
   width:30px;
   left:190px;
   top:288px;
   background-color:rgb(255,140,0,0.5);
   color:white;
   border-radius:2px;
   box-shadow:3px;
   border:solid black 2px;
 }

 placeholder{
   
   color:rgba(255,255,255,0.45);
   font-shadow:3px;
   
 }

 #switch{
   position:absolute;
   left:190px;
   height:33px;
   width:30px;
   top:83px;
   border:3px;
   box-shadow:2px;
 }



 #program{
   align-content:center;
   border:solid black;
   box-width:260px;
   box-height:300px;
   margin:5px;
 }
 <!--@media (max-width:500px){
   .container{
     flex-direction:column;
     align-items:center;
   }
   .buttons, .operators{
     width:100%;
     display:flex;
     justify-content:center;
     flex-wrap:wrap;
   }

   .operators{
     margin-top:10px;
   }

   .operators button{
     width:60px;
     height:60px;
   }

   .buttons button {
     width:30%;
     margin:5px;
   }

   #display {
     width:90%;
     margin-bottom: 10px;
     }
 }-->










