body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin:0;
  background-color:black;
  color:#fff;
  overflow:hidden;
  
}

.main {
  display:flex;
  height:100%vh;
}

.sidebar {
  background-color: red;
  width:340px;
  
}

.main-content{
  background-color:blue;
  flex:1;
}

.music-player {
  background-color:yellow;
}
