  #btn{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  }

  button:active{
  box-shadow:3px 3px 10px black;
  
  }

  #container{
  display:grid;
  column-gaps:2px;
  grid-template-columns:repeat(3,60px);
  grid-gap:0;
  row-gaps:5px;
  align-content:center;
  height:700px;
  width:600px;
  
  }

  #operators{
  display:relative;
  left:120px;
  top:-40px;
  }


  p {
    font-family:monospace;
    position:static;
    color:#0C0A00;
    font-weight:bold;
  }

  #display{
    border:solid-black;
    height:30px;
    margin-bottom:5px;
    border-width:3px;
  }

 #plus{
   position:absolute;
   left:200px;
   top:100px;
 }







