#apple {
  background-colour:black;
  width:50px;
  height:50px;
  color:black;
  font-weight:bold;
  font-family:arial;
  border-radius:5px solid blue ;
  
}

h1 {
  align-items:center;
  color:corn-silk;
}
