  #btn{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  }

  button:active{
  box-shadow:3px 3px 10px black;
  
  }

  #container{
  display:grid;
  column-gaps:2px;
  grid-template-columns:repeat(3,60px);
  grid-gap:0;
  row-gaps:5px;
  align-content:center;
  
  }

  #operators{
  display:relative;
  left:120px;
  top:-40px;
  }
  
  #display{
    border:solid-black;
    height:30px;
    margin-bottom:5px;
    border-width:3px;
    border-radius:4px;
  }

 #plus{
   position:absolute;
   left:200px;
   top:100px;
 }

 #minus{
   position:absolute;
   left:200px;
   top:100px;
 }

 #mul{
   position:absolute;
   left:200px;
   top:100px;
 }

#divide{
   position:absolute;
   left:200px;
   top:100px;
 }

#ans{
   position:absolute;
   left:200px;
   top:100px;
 }

#clear{
   position:absolute;
   left:200px;
   top:100px;
 }








