  #btn{
  height:50px;
  width:50px;
  border-radius:3px;
  color:black;
  background-color:corn-silk;
  box-shadow:5px;
  }

  button:active{
  box-shadow:3px 3px 10px black;
  
  }

  #container{
  display:grid;
  column-gaps:2px;
  grid-template-columns:repeat(3,60px);
  grid-gap:0;
  row-gaps:5px;
  
  }

  #sign{
  height:20px;
  width:20px;
  broder-radius:none;
  }

  #operators{
  display:grid;
  grid-template-columns:repeat(1,1fr);
  columns-gaps:5px;
  align-items:top-right;
  }


  p {
    font-family:monospace;
    position:static;
    color:#0C0A00;
    font-weight:bold;
  }








